---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Heading from '@/components/ui/Heading.astro'
import Hero from '@/components/home/Hero.astro'
import FeaturesBanner from '@/components/home/FeaturesBanner.astro'
import ServicesBanner from '@/components/home/ServicesBanner.astro'
import TestimonialBanner from '@/components/home/TestimonialBanner.astro'
import FAQ from '@/components/home/FAQ.astro'
---

<BaseLayout>
	<Hero />
	<FeaturesBanner />
	<ServicesBanner />
	<TestimonialBanner />
	<FAQ />

	<section>
		<Heading tag='h2' size='h2'>Service Area</Heading>
		<div>Map</div>
	</section>

	<section>
		<Heading tag='h2' size='h2'>Call Us Now</Heading>
		<p>Lonnies Mobile Mechanic</p>
		<p>We Fix It Where It Sits</p>
		<p>813-770-0044</p>
		<div>Booking Calender.</div>
		<div>Form that sends a text</div>
	</section>
</BaseLayout>
