---
import Heading from '@ui/Heading.astro'
import { getCollection } from 'astro:content'

const FAQs = await getCollection('faq')
---

<section>
	<Heading tag='h2' size='h2'>FAQs</Heading>
	<p>Frequently Asked Questions</p>
	<div class="accordion">
	{
		FAQs.map(({ data: { question, answer } }) => (
			<details >
				<summary>
				<Heading tag='h3' size='h6'>
					{question}
				</Heading>
				</summary>
				<p>{answer}</p>
			</details>
		))
	}
	</div>	
</section>
