---
import { socialData } from '@/data/siteData'
import { Icon } from 'astro-icon/components'
---

<footer>
	<div>
		<p>
			&copy; <span id='copyright'>{new Date().getFullYear()}</span> Lonnies Mobile
			Mechanic
		</p>
		<ul>
			{
				socialData.map(({ href, title, icon }) => (
					<li>
						<a href='{href}' aria-label={title} title={title}>
							<Icon name={icon} size={24} />
						</a>
					</li>
				))
			}
		</ul>
	</div>
</footer>

<script>
	const currentYearSpan = document.querySelector(
		'#copyright'
	) as HTMLSpanElement
	currentYearSpan.textContent = new Date().getFullYear().toString()
</script>
